body {

}

ul {
    list-style: none;
    display: inline-flex;
    padding: 0;
}

li {
    padding: 10px;
}

header {
    width: 100%;
    height: 300px;
    position: fixed;
}


h1 {
    padding: 10px;
}

.gallery-image {
    display: block;
    width: 100%;
}



h3 {
    padding: 10px;
}
p {
    padding: 10px;
}


.about {
    height: 1366px;
    width: 768px;
    background-color: green;
}









/* #Lean overlay from http://leanmodal.finelysliced.com.au/# */

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
